on:
  push:
    branches: ["main"]
  # allow manual invocation
  workflow_dispatch:

permissions:
  contents: read
  pages: write

# do not run this at the same time as other pages tasks
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install packages for build
        run: >
          sudo apt-get update ; sudo apt-get -y install dpkg-dev gnupg2 ;

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Build Repositories
        run: ./.github/scripts/generate_repositories.sh

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
